package layouts

templ Test(title string) {
    <!DOCTYPE html>
    <html lang="en" >
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{ title }</title>
        <script src="/static/js/htmx-2.0.6.min.js"></script>
        <link rel="stylesheet" href="/static/css/output.css"/>
        <script src="/static/js/websocket.js"></script>
    </head>
    <body class="flex flex-col h-screen bg-base-200">
        <div class="navbar bg-base-100 shadow-lg">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl">DaisyUI Test</a>
            </div>
        </div>
        <main class="h-full flex flex-row justify-evenly items-center">
            <div class="card bg-base-100 shadow-xl w-96 h-[200px] overflow-hidden">
                <div class="card-body flex flex-col p-4 h-full">
                    <h2 class="card-title">Card Title 1</h2>
                    <div class="flex-1 min-h-0 overflow-y-auto">
                        <div class="space-y-2">
                            <p class="py-2">This is some card content for Test 1.</p>
                            <p class="py-2">This is some card content for Test 2.</p>
                            <p class="py-2">This is some card content for Test 3.</p>
                            <p class="py-2">This is some card content for Test 4.</p>
                            <p class="py-2">This is some card content for Test 5.</p>
                            <p class="py-2">This is some card content for Test 6.</p>
                        </div>
                    </div>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary">Action</button>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow-xl w-96">
                <div class="card-body">
                    <h2 class="card-title">Card Title 2</h2>
                    <p>This is some card content for Test 2.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary">Action</button>
                    </div>
                </div>
            </div>
		</main>
        <footer class="footer footer-center p-4 bg-base-200 text-base-content">
            <div>
                <p>HTMX Chat Demo © 2025</p>
            </div>
        </footer>
    </body>
    </html>
}