package layouts

templ Test(title string) {
	<!DOCTYPE html>
	<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{ title }</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.6/htmx.min.js" integrity="sha512-fzOjdYXF0WrjlPAGWmlpHv2PnJ1m7yP8QdWj1ORoM7Bc4xmKcDRBOXSOZ4Wedia0mjtGzXQX1f1Ah1HDHAWywg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="/static/css/output.css"/>
	</head>
	<script src="/static/js/websocket.js"></script>
	<body>
        <div class="">Test</div>
	</body>
	</html>
}