{{define "partials/rooms.html"}}

{{ if len .rooms }}
<ul class="list">
    {{ range .rooms }}
    <li class="list-item">
        <div class="box">
            <p class="title is-5">{{ .Name }}</p>
            <p>
                {{ if .CreatedAt.IsZero }}
                Created recently
                {{ else }}
                Created {{ .CreatedAt.Format "Jan 2, 2006" }}
                {{ end }}
            </p>
            <a href="/rooms/{{.ID}}" hx-get="/rooms/{{.ID}}" hx-target="#content" hx-swap="innerHTML" hx-push-url="/rooms/{{.ID}}">
                View
            </a>
        </div>
    </li>
    {{ end }}
</ul>
{{ else }}
<div class="notification is-info">
    <p>No rooms available</p>
    <p>Create a new room to get started</p>
</div>
{{ end }}

{{end}}